<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="home">Home</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a routerLink="truck-list">Truck List <span class="sr-only">(current)</span></a></li>
				<li routerLinkActive="active"><a routerLink="food-list">Food List <span class="sr-only">(current)</span></a></li>
			</ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!member"><a href="#" disabled="disabled"><span class="badge">{{member}}</span></a></li>
        <!-- <li *ngIf="email !== null"><a ng-click="logout()" routerLink="login">Logout</a></li> -->
        <li *ngIf="!member"><a routerLink="login">Login</a></li>
        <li class="dropdown" *ngIf="member"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false"><span class="badge">{{member}}</span> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li routerLinkActive="active"><a routerLink="#">profile</a></li>
						<li routerLinkActive="active"><a routerLink="#">my favorite truck</a></li>
						<li routerLinkActive="active"><a routerLink="#">my review</a></li>
						<li role="separator" class="divider"></li>
            <li routerLinkActive="active"><a (click)="logout()"><b class="glyphicon glyphicon-log-out"></b> logout</a></li>
					</ul>
				</li>


      </ul>
			<!-- <ul class="nav navbar-nav navbar-right">
				<c:if test="${not empty user }">
					<li><a href="#" disabled="disabled"><span class="badge">${user.email }</span></a></li>
				</c:if>
				<li class="${active=='login'?'active':'' }">
					<c:if test="${not empty user }">
						<a href="<c:url value='/logout'/>">Logout</a>
					</c:if>
					<c:if test="${empty user }">
						<a href="<c:url value='/login'/>">Login</a>
					</c:if>
				</li>
				<li class="${active=='board'?'active':'' }"><a href="<c:url value='/boards'/>">Board</a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul> -->
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
