<p>
  truck-list works!
</p>
<div class="bs-example container">
  <form class="form-horizontal" name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="htruck" class="control-label col-xs-2">truckID</label>
      <div class="col-xs-10">
        <input type="text" class="form-control" [(ngModel)]="htruck" name="htruck" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <div *ngIf="message" class="alert alert-danger">{{message}}</div>
        <!-- <div *ngIf="!message" class="alert alert-success">Success!</div> -->
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>

  <div class="row">
  <h3>{{member}}의 즐겨찾기</h3>
    <div *ngFor="let t of trucks" class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{t.tid}}</div>
        <div class="panel-body">
          사장님 : {{t.tname}} <br>
          평점 : {{t.tavg}}점<br>
          주소 : {{t.taddress}} <br>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <a href="#" class="text-warning" (click)="removeMember(member)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
